/* lg */
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	.maintenance .content {
		margin: 0 30px;
	}

	.maintenance .main-content {
		padding: 0 30px;
	}

	.maintenance .footer {
		padding: 0 30px;
	}
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.maintenance .content {
		margin: 0 60px;
	}

	.maintenance .main-content {
		padding: 0 30px;
	}

	.maintenance .footer {
		padding: 0 30px;
	}

	.maintenance .main-content h1 {
		font-size: 25px;

	}
}

/* xs */
@media (max-width: 767px) {
	.maintenance .content {
		margin: 0 30px;
	}

	.maintenance .main-content {
		padding: 0 15px;
	}
	.maintenance .main-content h1 {
		font-size: 25px;
	}

	.maintenance #counter {
		margin: 0 10%;

	}
	.maintenance .footer {
		padding: 0 15px;
	}

}

@media (max-width: 585px) {


}

/* XS Portrait */
@media (max-width: 479px) {

	.maintenance .main-content {
		padding: 0 10px;
	}

	.maintenance #counter {
		margin: 0 3%;
		float: none;
	}

	.maintenance .content {
		position: relative;
		margin: 0 10px;
		z-index: 999;
	}

	.maintenance .footer {
		padding: 0 1px;
	}

}